<div class="container">
  <table class="table table-striped mb-4 clickable">
    <thead>
      <tr class="d-flex-inline">
        <th>Statement Number</th>
        <th>Begin Value</th>
        <th>End Value</th>
        <th>Statement From</th>
        <th>Statement To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ statementDetails?.statementNumber }}</td>
        <td>{{ statementDetails?.beginValue }}</td>
        <td>{{ statementDetails?.endValue }}</td>
        <td>{{ statementDetails?.statementFrom | date : "yyyy-MM-dd" }}</td>
        <td>{{ statementDetails?.statementTo | date : "yyyy-MM-dd" }}</td>
      </tr>
    </tbody>
  </table>
  <div
    class="d-flex align-items-center justify-content-between"
    *ngIf="pagination"
  >
    <div class="form-group m-2">
      <select class="form-select" (change)="onPageSizeSelected($event)">
        <option
          *ngFor="let size of sharedService.pageSizeOptions"
          [value]="size.value"
        >
          {{ size.size }}
        </option>
      </select>
    </div>
    <div class="me-auto" *ngIf="pagination">
      <pagination
        class="m-0"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
    <div class="btn-group m-2" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-animated"
      >
        Sort <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a
            class="dropdown-item"
            [(ngModel)]="specification.sort"
            btnRadio="desc"
            (click)="getBankStatementDetailsTransactions()"
            >Descending</a
          >
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            [(ngModel)]="specification.sort"
            btnRadio="asc"
            (click)="getBankStatementDetailsTransactions()"
            >Ascending</a
          >
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            [(ngModel)]="specification.sort"
            btnRadio="high"
            (click)="getBankStatementDetailsTransactions()"
            >Highest Value</a
          >
        </li>
        <li role="menuitem">
          <a
            class="dropdown-item"
            [(ngModel)]="specification.sort"
            btnRadio="low"
            (click)="getBankStatementDetailsTransactions()"
            >Lowest Value</a
          >
        </li>
      </ul>
    </div>
    <form class="m-2">
      <input type="text" placeholder="Search" #search class="form-control" />
    </form>
    <button
      class="btn btn-primary m-2"
      type="button"
      (click)="onSearch(search.value)"
    >
      Search
    </button>
    <button class="btn btn-primary m-2" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Transaction Date</th>
        <th>Dashboard Date</th>
        <th>Value</th>
        <th>Account Balance</th>
        <th>Description</th>
        <th>Type</th>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let transaction of statementDetailsTransactions"
        tooltip="{{ transaction.description }}"
        [delay]="1000"
        container="body"
      >
        <td>{{ transaction.transactionDate | date : "yyyy-MM-dd" }}</td>
        <td>
          <ng-container
            *ngIf="
              !editingDate || editedTransactionId !== transaction.id;
              else datepickerEdit
            "
          >
            {{ transaction.dashboardDate | date : "yyyy-MM-dd" }}</ng-container
          >
          <ng-template #datepickerEdit>
            <div class="row">
              <div class="form-group">
                <input
                  type="text"
                  placeholder="{{
                    transaction.dashboardDate | date : 'yyyy-MM-dd'
                  }}"
                  [bsConfig]="{
                    dateInputFormat: 'YYYY-MM-DD',
                  }"
                  class="form-control"
                  bsDatepicker
                  [(ngModel)]="transaction.dashboardDate"
                  (ngModelChange)="onDateChanged(transaction.dashboardDate)"
                />
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{ transaction.value }}</td>
        <td>{{ transaction.realValue }}</td>
        <td>
          {{
            transaction.description.length > 50
              ? transaction.description.substring(0, 50) + "..."
              : transaction.description
          }}
        </td>
        <td>
          <ng-container
            *ngIf="
              !editingType || editedTransactionId !== transaction.id;
              else typeEdit
            "
            >{{ transaction.type }}</ng-container
          >
          <ng-template #typeEdit>
            <div class="form-group">
              <select
                class="form-select"
                [(ngModel)]="transaction.type"
                (ngModelChange)="onTypeChanged(transaction.type)"
              >
                <option
                  *ngFor="let size of sharedService.transactionTypes"
                  [value]="size.type"
                >
                  {{ size.type }}
                </option>
              </select>
            </div>
          </ng-template>
        </td>
        <td>{{ transaction.transactionCode }}</td>
        <td>
          <div class="btn-group" dropdown>
            <button
              id="button-animated"
              dropdownToggle
              type="button"
              class="btn"
              aria-controls="dropdown-animated"
            >
              <fa-icon icon="ellipsis"></fa-icon>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  (click)="enableTypeEditing(transaction.id)"
                  >Change Transaction Code</a
                >
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  (click)="enableDataEditing(transaction.id)"
                  >Change Date</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
