<div class="container mb-4">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Dane</th>
        <th>Wartość</th>
        <th>Miesiąc wcześniej</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Personal Wealth</td>
        <td>{{ mainDashboard.personalWealth.toFixed(2) }}</td>
        <td>{{ mainDashboard.compPreviousMonth.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Dane</th>
        <th>Wartość</th>
        <th>Miesiąc wcześniej</th>
        <th>Średnia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monthly Expenses</td>
        <td>{{ mainDashboard.monthlyExpenses.toFixed(2) }}</td>
        <td>{{ mainDashboard.compPreviousMonthExpenses.toFixed(2) }}</td>
        <td>{{ mainDashboard.averageMonthlyExpense.toFixed(2) }}</td>
      </tr>
      <tr>
        <td>Monthly Income</td>
        <td>{{ mainDashboard.monthlyIncome.toFixed(2) }}</td>
        <td>{{ mainDashboard.compPreviousMonthIncome.toFixed(2) }}</td>
        <td>{{ mainDashboard.averageMonthlyIncome.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
</div>

Po bokach tabelek przycisk rysujący wykresy pod spodem.
